@import url("https://use.typekit.net/jjt8tot.css");
@media (max-width: 600px),(max-height: 800px){
   
    

h1, h2, h3, h4, h5, h6{ 
    font-family: "omnes-pro", sans-serif;
    font-weight: 700;
    font-style: normal;}
p{
    font-family: "omnes-pro", sans-serif;
    font-weight: 400;
    font-style: normal;}
.button {font-family: "omnes-pro", sans-serif;
    font-weight: 700;
    font-style: normal;}
a{
    font-family: "omnes-pro", sans-serif;
    font-weight: 700;
    font-style: normal;}

body{
    background-color:#FAF3DD;
    margin:0;
}

.achtergrond{
    width: 100vw;
    
        
}

.achtergrondinfo{
    width: 100vw;
    z-index: 1;
    display: block;
    position: relative;
    
}

.Shopnow{
    margin-top: -80px;
    padding: 40px;
    background-color:#577590;
    text-decoration: none;
    border-radius:5px;
    text-align: center;
    
}

.Shopnow a{
    color:#FAF3DD;
    text-decoration: none;
    font-size: xx-large;

}

nav{
    margin-top: -5px;
    display: flex;
    justify-content: space-around;
    background-color:#351303;
    padding: 20px;
    
}

.join{
     margin-top: -100px;
    padding: 30px;
    background-color:#577590;
    text-decoration: none;
    border-radius:5px;
    text-align: center;
    margin-top: 10%;
}
.join a{
    color:#FAF3DD;
    text-decoration: none;
    font-size: xx-large;
}  


.infologo{
    max-width: 20%;
    margin-top: 10%;
    margin-left: 40%; 
    margin-bottom: 5%;  
    
}

.infotext{
    text-align: left;
    margin: 10%;
    max-width: 90%;

      
}

.meldingenbtn{
    margin-top: -15%;
    display: flex;
    background-color:#351303;
    padding: 3%;
    width: 5%;
    border-radius: 100% ;
    margin-left:10% ;
    margin-bottom: 10%;
    
}

.infoprofiel{
   margin-top: -15%;
    margin-bottom: 3%;
    width: 11%;
    border-radius: 100% ;
    margin-left: 80%;
    
}

}