@import url("https://use.typekit.net/jjt8tot.css");
@media (max-width: 600px),(max-height: 800px){
   
    

h1, h2, h3, h4, h5, h6{ 
    font-family: "omnes-pro", sans-serif;
    font-weight: 700;
    font-style: normal;}
p{
    font-family: "omnes-pro", sans-serif;
    font-weight: 400;
    font-style: normal;}
.button {font-family: "omnes-pro", sans-serif;
    font-weight: 700;
    font-style: normal;}
a{
    font-family: "omnes-pro", sans-serif;
    font-weight: 700;
    font-style: normal;}

body{
    background-color:#FAF3DD;
    margin:0;
}

.achtergrond{
    width: 100vw;
    
        
}

.achtergrondinfo{
    width: 100vw;
    z-index: 1;
    display: block;
    position: relative;
    
}

.Shopnow{
    margin-top: -80px;
    padding: 40px;
    background-color:#577590;
    text-decoration: none;
    border-radius:5px;
    text-align: center;
    
}

.Shopnow a{
    color:#FAF3DD;
    text-decoration: none;
    font-size: xx-large;

}

nav{
    margin-top: -5px;
    display: flex;
    justify-content: space-around;
    background-color:#351303;
    padding: 20px;
}

.join{
     margin-top: -80px;
    padding: 40px;
    background-color:#577590;
    text-decoration: none;
    border-radius:5px;
    text-align: center;}

.join a{
    color:#FAF3DD;
    text-decoration: none;
    font-size: xx-large;
}  

.infotext{
    padding: 20px;
    position: absolute;
    top: 550px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;         
    color: #351303;
    text-align: left;
    font-size:x-large;
    width: 400px;

    
    
   
}
}